/* CarousselRecette.css */
.carousel-root {
  max-width: 450px; /* Ajustez la largeur maximale selon vos besoins */
  margin: 0 auto; /* Centre le carrousel horizontalement */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.nombre_image {
  position: absolute;
  left: 48.5%;
  top: 152.5%;
  background-color: #5d7052; /* Couleur de fond avec opacité */
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 13px;
}

.carousel {
  max-width: 100%; /* Ajustez la largeur maximale selon vos besoins */
}

.carousel img {
  max-width: 100%; /* Ajustez la largeur maximale selon vos besoins */
  height: auto;
}

.carousel ul {
  margin-top: 40px;
}


.carousel .dot {
  background-color: #a5b857 !important;
}

/* Couleur des points indicateurs pour l'élément sélectionné */
.carousel .dot.selected {
  background-color: #5d7052 !important;
}


.carousel.carousel-slider .control-arrow:hover {
    background: #5d7052;
    opacity: 0.4;
}

.carousel.carousel-slider .control-arrow {
    padding: 8px;
   
}

.carousel .control-next.control-arrow:before {
    border-left: 10px solid #a5b857 ;
   
}

.carousel .control-prev.control-arrow:before {
    border-right: 10px solid #a5b857;
}

.download-button {
  background-color: #a5b857;
  color: #f2f2f2;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  margin-top: 60px;
}

.carousel .control-dots {
  margin: 60px 0;
}
  
