.article-Tarif {
    display: grid;
    place-items: center; /* Centre horizontalement et verticalement */
    height: 100vh; /* Ajustez la hauteur selon vos besoins */
}

.article-Tarif img {
    width: 60%; /* Ajustez la taille de l'image selon vos besoins */
}

