.article-Tarif {
    display: grid;
    place-items: center; /* Centre horizontalement et verticalement */
    height: 80vh; /* Ajustez la hauteur selon vos besoins */
}

.article-Tarif img {
    width: 68%; /* Ajustez la taille de l'image selon vos besoins */
}

.titre-tarif {
    font-size: 35px;
}